intelligence-platform/n8n/workflows/ingest-news.json
{
  "name": "ingest-news",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-news",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: ingest-news",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "url": "={{$env.AGENTS_BASE_URL}}/run",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ news_item_id: $json.body.news_item_id, pipeline_run_id: $json.body.pipeline_run_id }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "call-agents",
      "name": "POST /run (LangGraph)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.errors.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-success",
      "name": "If success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 320]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/v1/webhooks/n8n/job-complete",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'news.classified', data: { news_item_id: $json.news_item_id } }) }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "X-Internal-Signature", "value": "={{$env.INTERNAL_SECRET_HMAC}}" }] }
      },
      "id": "notify-success",
      "name": "Notify API: complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1040, 440]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/v1/webhooks/n8n/job-complete",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'job.failed', data: { news_item_id: $json.news_item_id, errors: $json.errors } }) }}"
      },
      "id": "dlq",
      "name": "DLQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 440]
    }
  ],
  "connections": {
    "Webhook: ingest-news": { "main": [[{ "node": "POST /run (LangGraph)", "type": "main", "index": 0 }]] },
    "POST /run (LangGraph)": { "main": [[{ "node": "If success", "type": "main", "index": 0 }]] },
    "If success": {
      "main": [
        [{ "node": "Notify API: complete", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30s": { "main": [[{ "node": "DLQ", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "intelligence" }]
}
